In [63]:
import pandas as pd
import ast

In [44]:
def create_schema(df):
    result = []
    for col in df.columns.values:
        
        result.append(col + ' varchar(1000)')
        
    schema = ', '.join(result)
    schema = 'create table stackoverflow(' + schema + ')'
    
    return schema

In [51]:
def dataType(val, current_type):
    try:
        # Evaluates numbers to an appropriate type, and strings an error
        t = ast.literal_eval(val)
    except ValueError:
        return 'varchar'
    except SyntaxError:
        return 'varchar'
    
    if type(t) in [int, long, float]:
        if (type(t) in [int, long]) and current_type not in ['float', 'varchar']:
           # Use smallest possible int type
            if (-32768 < t < 32767) and current_type not in ['int', 'bigint']:
                return 'smallint'
            elif (-2147483648 < t < 2147483647) and current_type not in ['bigint']:
                return 'int'
            else:
                return 'bigint'
        if type(t) is float and current_type not in ['varchar']:
            return 'decimal'
    else:
        return 'varchar'

In [83]:
df = pd.read_csv("./developer_survey_2019/survey_results_public.csv")

types = []
longest = []
headers = df.columns.values
index = 0


for row in df.iterrows():
    print(row[2])
    break

for index in range(len(headers)):
    curr_type = ''
    curr_longest = 0
    print(col)
    
    for row in df.iterrows():
        if curr_type == 'varchar':
            pass  
        if row[index] == 'NaN':
            continue
        else:
            curr_type = dataType(row[index], curr_type)

        if type(row[index]) == 'str' and len(row[index]) > curr_longest:
            curr_longest = len(row[index])

    longest.append(curr_longest)
    types.append(curr_type)

result = []
for i in len(headers):
    tmp = headers[i] + ' ' + types[i]
    if types[i] == 'varchar':
        result.append(tmp + '('+ longest[i] +')')
    result.append(tmp)

schema = ', '.join(result)
schema = 'create table stackoverflow(' + schema + ')'
print(schema)

IndexError: tuple index out of range

In [72]:
index = 0
for row in df.iterrows():
    print(row[0])

for row in df.iterrows():
    row[1]

In [ ]:
copy stackoverflow
from 's3:///survey_results_public.csv'
iam_role 'demoRedshiftRole'
IGNOREHEADER as 1
FORMAT AS CSV;

Link: https://docs.aws.amazon.com/redshift/latest/dg/tutorial-loading-data.html

https://docs.aws.amazon.com/redshift/latest/dg/tutorial-loading-run-copy.html

In [ ]:
# in file credentials
copy stackoverflow
from 's3://demo-redshift-stackoverflow/survey_results_public.csv'
credentials 'aws_access_key_id=;aws_secret_access_key='
csv;

## From Redshift to S3

UNLOAD ('select_statement')
TO 's3://object_path_prefix'
[ WITH ] CREDENTIALS [AS] 'aws_access_credentials'
[ option [ ... ] ]
where option is
{ MANIFEST
| DELIMITER [ AS ] 'delimiter_char'
| FIXEDWIDTH [ AS ] 'fixedwidth_spec' }
| ENCRYPTED
| GZIP
| ADDQUOTES
| NULL [ AS ] 'null_string'
| ESCAPE
| ALLOWOVERWRITE
| PARALLEL [ { ON | TRUE } | { OFF | FALSE } ]
A simple UNLOAD query would look like this:
UNLOAD ('
SELECT
id,
email
FROM users
')
TO 's3://bucket_name/file_prefix_'
CREDENTIALS 'aws_access_key_id=KEY1;aws_secret_access_key=KEY2'
ESCAPE
PARALLEL OFF;

In [ ]:
unload('
(select ''color'', ''shoetype'')
union
(select color, shoetype from "shoes")
order by 1 desc
')

to 's3://demo-redshift-stackoverflow/shoes.csv'
credentials 'aws_access_key_id=;aws_secret_access_key='
allowoverwrite
delimiter
manifest
escape
parallel off
;